@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: pixel;
    src: url(PressStart2P-Regular.ttf);
  }

* {
  font-family: "Open Sans", sans-serif;
  color: rgb(224, 224, 224) !important;
}

body {
    background-image: url("background.png");
    background-repeat: repeat;
}

#wrapper {
    margin: 0 10%;
    background-color: rgb(22, 22, 22);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

hr {
    width: 100%;
    size: 15px;
    color:cadetblue;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: rgb(18, 156, 0) !important;
}

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }