* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color:darkgoldenrod;
}

#wrapper {
    margin: 0 10%;
    background-color: blanchedalmond;
    padding: 10%;
}

hr {
    width: 15px;
    color:cadetblue;
}