* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color:darkgoldenrod;
}

#wrapper {
    margin: 0 10%;
    background-color: blanchedalmond;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

hr {
    width: 100%;
    height: 15px;
    color:cadetblue;
}